.header, .nav, .main, .sidebar, .advertizer, .footer{
    background-color: bisque;
    border: 2px solid tomato;
    padding: 5px;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertizer{
    grid-area: advertizer;
}
.footer{
    grid-area: footer;
}

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header     header      header      header"
    "nav        main        main        sidebar"
    "nav        main        main        advertizer"
    "footer     footer      footer      footer"
    ;
}

/* Smaller Responsive */

@media screen and (max-width: 576px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertizer"
        "footer"
        ;
    }
}

/* Medium */
@media screen and (min-width: 576px) and (max-width: 922px) {
    .container{
        grid-template-areas: 
        "header     header      header"
        "nav        nav         nav"
        "sidebar    main        main"
        "advertizer footer      footer"
        ;
}




